$primary-color: #444;
$body_font-size: 16px;
$default-font-size: 16px !default;
$font-family_sans: 'Lato', 'Arial', sans-serif;
// $font-family_primary: 'Droid Serif', serif;
$font-family_primary: 'Lato', 'Arial', sans-serif;
$font-family_secondary: "Georgia", "Times New Roman", serif;
